@page
@model Code1stUsersRoles.Pages.UsersModel
@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users != null)
            {
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                @* <a asp-page="./EditUser" asp-route-userId="@user.Id">Edit</a> *@
                                <form method="post" asp-page-handler="DeleteUser"
                                    onsubmit="return confirm('Are you sure you want to delete this user?')">
                                    <input type="hidden" name="userId" value="@user.Id" />
                                    <button type="submit">Delete</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
