@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to User Management</h1>
    <p>Student Name: Anh Nguyen - Student ID: A01282003.</p>
</div>
